.creature-initiative-item {
  display: flex;
  gap: 12px;
  padding: 8px;
  border: 1px solid var(--border);
  border-radius: 4px;
}

.initiative {
  font-weight: bold;
  color: var(--accent);
  padding: 0px 4px 0px 4px;
}

.name {
  flex: 1;
  font-size: 16px;
}

.hp {
  color: var(--text-h);
}